{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}<br>
        <span style="font-size: 0.8em; font-style: italic; display: block;">
          {{ page.previous.title | markdownify | strip_html }}
        </span>
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}<br>
        <span style="font-size: 0.8em; font-style: italic; display: block;">
          {{ page.next.title | markdownify | strip_html }}
        </span>
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
